
/*FONTS TO BE USED*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
}


.header-hero-container{
    background: linear-gradient(89deg, rgb(16, 88, 197) 0.1%, rgb(32, 56, 161) 51.5%, rgb(15, 11, 127)100.2%);
    padding: 30px 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.admin_user-record-heading-container{
    display: flex;
    justify-content: center;
}

#admin_user-records-main-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    color: #f1f6f9;
}

.search_field-main-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.each_search_field-container{
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.search_form-input-field{
    width: 25vw;
    padding: 14px 50px;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    color: #f1f6f9;
    border: 2px solid #f1f6f9 ;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.search_form-input-field::placeholder{
    color: #f1f6f9;
}

.search-icon{
    width: 6%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    filter: invert();
    padding: 10px;
    margin-left: 2px;
    left: 2px;

}

.search_btn-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 25px;
}

.search_btn{
    width: 150px;
    padding: 10px 0px;
    background: transparent;
    border: 2px solid #f1f6f9;
    color: #f1f6f9;
    font-weight: 700;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    transition: 0.3s all ease-in;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.search_btn:hover{
    color: rgb(5, 117, 230);
    background: #f1f6f9;
}

.staff_table-container{
    display: flex;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 50px 50px;
}

table th{
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 16px 12px;
    border: none;
    color: #f1f6f9;
    text-align: center;
}

table td{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    color: #7f858e;
}

tr{
    box-shadow:  rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

table tr:hover{
    background-color: #f1f1f1;
    cursor: default;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#navbar-logout-btn{
    text-align: start;
    width: 120px;
    right: 10px;
    position: absolute;
    height: 40px;
    color:#F1F6F9;
    background-color: #00008B;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #9BA4B5;
    border-radius: 10px;
    opacity: 80%;
    transition: 0.5s;
    margin-right: 20px;
    font-size: 1rem;
}

#navbar-logout-btn:hover{
    opacity: 1;
}

#nav-logout-icon{
    position: absolute;
    margin-top: -2px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    filter: invert();
}