/* Small devices (landscape phones, less than 768px)*/
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    /*NAVBAR TWEAKS*/
    .navbar-left_content-container{
        margin-left: 10px;
    }

    #navbar-logo-name{
        margin-top: 7px;
    }

    .navbar-elements-container{
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }

    #navbar-elements-css:hover:after,
    #navbar-elements-css:hover:before{
    width: 0%;
    }

    /*WELCOME SCREEN TWEAKS*/

    #main-heading-text{
        margin-top: 120px;
        font-size: 2rem;
        text-align: center;
    }

    #main-heading-sub_text{
        font-size: 1rem;
    }

    .welcome_screen-btn-css{
        font-size: 90%;
    }

    #slideshow_images{
        width: 220px;
        height: 320px;
    }

    .slideshow_text-container{
        width: 220px;
    }

    #slideshow_text-content{
        font-size: 10px !important;
    }

    /*CARDS DISPLAY TWEAKS*/
    .cards-main-layout {
        height: 100%;
    }

    @media screen and (min-width:576px) and (max-width:680px){
        .welcome_screen-left-content-container{
            width: 100% !important;
        }

        #main-heading-sub_text{
            text-align: center;
     
        }
        .welcome_screen-right-content-container{
            display: none;
        }

        .button-container{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #section-main-heading{
            font-size: 1.8rem;
        }
    }

    @media screen and (min-width:681px) and (max-width:767.98px){
        #main-heading-text{
            margin-right: 100px;
        }

        #signup_btn{
            margin-left: 10px;
            margin-top: 10px;
        }

        #section-main-heading{
            font-size: 1.6rem;
        }

        .row-cards-container{
            gap: 30px;
        }

        .card-css{
            width: 10rem;
            height: 230px;
        }

        .card-title{
            font-size: 1.2rem;}

        .card-btn-css{
            font-size: 10px;
        }

    }
}
